<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyy.mapper.UserMapper">
    <select id="getUserByUserName" resultMap="userResultMap" parameterType="java.lang.String">
        SELECT
        uuid,
        userName,
        password
        FROM
        tb_user
        WHERE
        userName = #{userName}
    </select>
    <resultMap id="userResultMap" type="com.zyy.entity.User">
        <id property="uuid" column="uuid" />
        <result column="userName" property="userName" />
        <result column="password" property="password" />
    </resultMap>
</mapper>